.tabs {
    border:1px solid gray;
    display: flex;
   
}

.tabs__navbar {
    background: #cccccc;
    width: 125px;
    flex-shrink: 0;

}

.tabs__button{
background: #eeeeee;
display: block;
padding: 10px;
border: none;
width: 100%;
outline: none;
cursor:pointer;
}

.tabs__button:active {
    background: #dddddd;
}

.tabs__button:not(:last-of-type) {
   border-bottom: 1px solid #cccccc;
}

.tabs__button--active {
    font-weight: bold;
    border-right: 4px solid mediumslateblue;
    background: #cccccc;
}

.tabs__content {
    padding: 10px;
    font-size: 0.8rem;
    display:none

}

.tabs__content--active {
    display: block;
}

